*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(
        45deg, #f8f8f8, #f8f8f8
    );
}

form{
    background-color: #ffffff;
    width: 400px;
    padding: 20px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
}

input {
  padding:8px 30px 8px 10px;
  width:100%;
  font-size:16px;
  border:2px solid #5dd5c4;
  outline:none;
  height: 50px;
  border-radius: 6px;
}

#email{
    margin-bottom: 30px;
}
p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: #ffffff;
    padding: 4px;
    text-align: center;
}
h1{
  font-size: 27px;
  text-align: center;
  margin-bottom: 50px;
}

.button{
	width:100%;
	font-size:16px;
	padding:10px;
	background-color:#fff;
	color:#5dd5c4;
	margin-top: 15px;
	border:2px solid #5dd5c4;
	text-align:center;
	margin-bottom: 10px;
	cursor: pointer;
	height: 50px;
	border-radius: 6px;
}
.button a{
	
		text-decoration:none;
        color:#5dd5c4;

}

.link {
  text-align: center;
}
.link a {
  text-decoration: none;
  color:#787f82;
  font-size: 15px;
}
